In [49]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

df_train = pd.read_csv('Dataset/conjunto_de_treinamento.csv')

df_train.drop(columns=['id_solicitante'], inplace=True)

# Tratando das colunas nominais

yn = [df_train.columns[12],
df_train.columns[16],
df_train.columns[29],
df_train.columns[31]]

for i in range(len(yn)):
    df_train[yn[i]] = df_train[yn[i]].map({'N': 0, 'Y': 1})

df_train['sexo'] = df_train['sexo'].map({'M': 0, 'F': 1, 'N': None})
df_train['forma_envio_solicitacao'] = df_train['forma_envio_solicitacao'].map({'internet': 0, 'correio': 1, 'presencial': 2})

def estados_format(df, column):
    return df[column].map({'AC': 0, 'AL': 1, 'AM': 2, 'AP': 3, 'BA': 4, 'CE': 5, 'DF': 6, 'ES': 7, 'GO': 8, 'MA': 9, 'MG': 10, 'MS': 11, 'MT': 12, 'PA': 13, 'PB': 14, 'PE': 15, 'PI': 16, 'PR': 17, 'RJ': 18, 'RN': 19, 'RO': 20, 'RR': 21, 'RS': 22, 'SC': 23, 'SE': 24, 'SP': 25, 'TO': 26})

df_train['estado_onde_nasceu'] = estados_format(df_train, 'estado_onde_nasceu')
df_train['estado_onde_reside'] = estados_format(df_train, 'estado_onde_reside')
df_train['estado_onde_trabalha'] = estados_format(df_train, 'estado_onde_trabalha')

df_train['profissao_companheiro'].fillna(-1, inplace=True)
df_train['profissao'].fillna(-1, inplace=True)
df_train['grau_instrucao'].fillna(-1, inplace=True)
df_train['ocupacao'].fillna(-1, inplace=True)

,produto_solicitado,dia_vencimento,forma_envio_solicitacao,tipo_endereco,sexo,idade,estado_civil,qtde_dependentes,grau_instrucao,nacionalidade,...,possui_telefone_trabalho,codigo_area_telefone_trabalho,meses_no_trabalho,profissao,ocupacao,profissao_companheiro,grau_instrucao_companheiro,local_onde_reside,local_onde_trabalha,inadimplente
0,1,10,2,1,0.0,85,2,0,0,1,...,0,,0,9.0,1.0,0.0,0.0,600.0,600.0,0
1,1,25,0,1,1.0,38,1,0,0,1,...,0,,0,2.0,5.0,-1.0,NaN,492.0,492.0,0
2,1,20,0,1,1.0,37,2,0,0,1,...,0,,0,NaN,NaN,-1.0,NaN,450.0,450.0,1
3,1,20,0,1,0.0,37,1,1,0,1,...,1,54,0,9.0,2.0,-1.0,NaN,932.0,932.0,1
4,7,1,0,1,1.0,51,1,3,0,1,...,0,,0,9.0,5.0,-1.0,NaN,440.0,440.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1,10,2,1,0.0,27,2,0,0,1,...,0,,0,9.0,1.0,0.0,0.0,308.0,308.0,0
19996,1,20,2,1,1.0,26,2,1,0,1,...,0,,0,9.0,2.0,0.0,0.0,639.0,639.0,0
19997,1,10,0,1,1.0,63,2,0,0,1,...,0,,0,9.0,1.0,-1.0,NaN,486.0,486.0,0
19998,1,5,0,1,1.0,84,1,0,0,1,...,0,,0,NaN,NaN,-1.0,NaN,590.0,590.0,0
19999,2,20,2,1,1.0,53,1,0,0,1,...,0,,0,9.0,5.0,0.0,0.0,132.0,132.0,0

In [ ]:
X = df_train.iloc[:, :-1]
y = df_train.iloc[:, -1]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(accuracy_score(y_test, y_pred))